<div class="container">
  <form>
    <input
      type="password"
      #passwordInput
      (input)="inputHandler(passwordInput.value)"
      placeholder="Please, put the password"
    />
  </form>

  <div class="password-strength">
    <span
      [ngClass]="{
        red: (passwordInput.value && weight === 0) || weight === 1,
        yellow: weight === 2,
        green: weight === 3
      }"
    ></span>
    <span
      [ngClass]="{
        red: passwordInput.value && weight === 0,
        yellow: weight === 2,
        green: weight === 3
      }"
    ></span>
    <span
      [ngClass]="{
        red: passwordInput.value && weight === 0,
        green: weight === 3
      }"
    ></span>
  </div>
</div>
